html {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
    /* overflow: hidden; */
}

body {
    margin: 0;
    padding: 0;
    background-color: #2d2c38;
}

/* Navigation
-------------------------------------------------- */

@media(min-width: 860px) {

/* TODO: #3 Fix navigation not sticky */
nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2d2c387c;
    color: #fff;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    height: 5em;
    padding: 0 15vw;
}

nav .nav-logo {
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

nav .nav-logo span {
    margin: 0;
    padding: 0;
}

nav .nav-logo .icon {
    height: 20px;
    width: 20px;
    padding: 4px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

nav .nav-links {
    display: flex;
    list-style: none;
}

nav .nav-link {
    color: #f7f7f7;
    text-decoration: none;
    list-style-type: none;
    margin-right: 20px;
    font-size: 1.2em;
}

nav .nav-link.active {
    color: #fff;
    font-weight: 500;
}

nav .nav-link:hover {
    color: #72cbf6;
}

nav .nav-link.active:hover {
    color: #fff;
    font-weight: 500;
}
}

/* TODO: #2 Mobile Navigation */
@media (max-width: 860px) {
    nav {
      display: none;
    }
    
    .mobile-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #333;
      color: #fff;
    }
    
    .burger {
      display: inline-block;
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: 5px;
      border-radius: 10px;
    }
}

/* Hero
-------------------------------------------------- */

section#hero { 
    padding: 0 !important;
    width: 100vw;
}
#hero-bg {
    overflow: hidden;
    background: linear-gradient(230deg, #4efa7978, #2d2c38, #72caf67b, #27262e);
    background-size: 800% 800%;
    -webkit-animation: HeroAnimation 30s ease-in-out infinite;
    -moz-animation: HeroAnimation 30s ease-in-out infinite;
    -o-animation: HeroAnimation 30s ease-in-out infinite;
    animation: HeroAnimation 30s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: blur(1px);
    height: 65vh;
    width: 100%;
}

@-webkit-keyframes HeroAnimation {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@-moz-keyframes HeroAnimation {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@-o-keyframes HeroAnimation {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@keyframes HeroAnimation {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}

#hero-inner {
    overflow: hidden;
    position: absolute;
    top: 5vh;
    left: 0;
    right: 0;
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero-inner > h1,h2,h3,h4,h5,h6,img {
    margin-block-start: 0;
    margin-block-end: 0;
    white-space: nowrap;
}

#hero-inner > h3 {
    margin-bottom: 5px;
}

#hero-inner > h1 {
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    #hero-inner > h1 {
        font-size: 2.5em;
    }
  }
  
  @media only screen and (max-width: 480px) {
    #hero-inner > h1 {
        font-size: 1.5em;
    }
  }

#hero-inner > h1 > strong {
    word-break: break-before;
}

#hero {
    overflow: hidden;
    border-bottom: 6px solid #27262e;
    border-radius: 0 0 24px 24px;
}

/* Services
-------------------------------------------------- */

section#services {
    display: flex;
    justify-content: center;
    align-items: center;
}


.box {
    display: inline-flex;
    margin: 1em 0.5em;
    padding: 2em;
    background-color: #fff;
    width: auto;
    border-radius: 16px;
    background-color: #2d2c38;
    flex-direction: column;
    padding: 2em 3em;
    background-color: #27262e;
    border-style: solid;
    border-color: #4efa7a;
    text-align: center;
    align-items: center;
}

.box > .btn {
    margin-top: 1em;
}

.box > img {
    height: 64px;
    width: auto;
}

.box p {
    color:#c0c0c0;
}

.box span {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    text-align: center;
    color: #c0c0c0;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: max-content;
}

section#services .box > .row > .box {
    display: flex;
    background-color: #2d2c38;
    flex-direction: column;
    max-width: 15vw;
    height: 15em;
    border-style: none;
}

/* TODO: #1 Add mobile optimization to services box */

.box > .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

/* Team
-------------------------------------------------- */

section#team img.logo {
    border-radius: 50%;
    background-color: #27262e;
    border-style: solid;
    border-color: #27262e50;
    border-width: 2px;
    height: 128px;
    width: 128px;
    margin: 1em;
    object-fit: cover;
    object-position: center;
}


/* Buttons
-------------------------------------------------- */

.btn {
    text-decoration: none;
    padding: 0.7rem 1.2rem;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 100ms;
}

.btn:hover {
    text-decoration: none;
    transform: scale(1.08);
    transition-duration: 200ms;
}

.btn-primary {
    background-color: #208fb6;
    color: #fff;
}

.btn-primary:hover {
    background-color: #208fb6;
    color: #fff;
}

.btn-blue {
    background-color: #72cbf6;
    color: #fff;
}

.btn-blue:hover {
    background-color: #72cbf6;
    color: #fff;
}

.btn-green {
    background-color: #4efa7a;
    color: #fff;
}

.btn-green:hover {
    background-color: #4efa7a;
    color: #fff;
}

.btn-no {
    cursor: not-allowed;
}

/* Text Decoration
-------------------------------------------------- */

a {
    text-decoration: none;
    color: white;
}


.text-primary {
    color: #4efa7a;
}

.text-secondary {
    color: #72cbf6;
}

.text-tertiary {
    color: #208fb6;
}

.text-white {
    color: #fff;
}

.text-gray {
    color: #c0c0c0;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

.text-center {
    text-align: center;
}

span {
    white-space: pre-wrap;
}

.td-none {
    text-decoration: none;
}

/* Layout
-------------------------------------------------- */

.d-flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

section {
    padding: 2rem 0;
}

.ms-1 {
    margin-left: 1rem;
    margin-right: 1em;
}

.h-grow {
    transition-duration: 200ms;
}

.h-grow:hover {
    transform: scale(1.08);
    transition-duration: 200ms;
}

.h-nogrow:hover {
    transform: scale(1);
}

/* Brands
-------------------------------------------------- */

.brands {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 10px 0 10px;
    overflow-y: hidden;
}

.brands > a {
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.brands > a > span {
    font-size: 0.83rem;
    color:#fff;
    text-decoration: none;
}

/* Decoration
-------------------------------------------------- */

.c-pointer {
    cursor: pointer;
}